@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-propo: "Propo";
  --font-lxgw: "LXGW";
  
}
@font-face {
  font-family: 'Propo';
  src: url('/fonts/0xProtoNerdFontPropo-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW';
  src: url('/fonts/LXGWWenKai-Regular.ttf') format('truetype');
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* 为较小屏幕设备设置字体大小 */
@media (max-width: 600px) {
  body {
    font-size: 4.8vw;
  }
}

/* 为中等屏幕设备设置字体大小 */
@media (min-width: 601px) and (max-width: 1200px) {
  body {
    font-size: 2vw;
  }
}

/* 为较大屏幕设备设置字体大小 */
@media (min-width: 1201px) {
  body {
    font-size: 1vw;
  }
}


.react-calendar-heatmap .color-dark-scala-empty {
  fill: oklch(0.372 0.044 257.287)
}
.react-calendar-heatmap .color-scala-empty {
  fill: oklch(0.87 0 0)
}
.react-calendar-heatmap .color-scala-1 {
  fill: oklch(0.792 0.209 151.711)
}
.react-calendar-heatmap .color-scala-2 {
  fill: oklch(0.627 0.194 149.214)
}
.react-calendar-heatmap .color-scala-3 {
  fill: oklch(0.448 0.119 151.328)
}
.react-calendar-heatmap .color-scala-4 {
  fill: oklch(0.437 0.078 188.216)
}
.react-calendar-heatmap .color-scala-5 {
  fill: oklch(0.443 0.11 240.79)
}
.react-calendar-heatmap .color-scala-6 {
  fill: oklch(0.398 0.195 277.366)
}
.react-calendar-heatmap .color-scala-7 {
  fill: oklch(0.438 0.218 303.724)
}
.react-calendar-heatmap .color-scala-8 {
  fill: oklch(0.459 0.187 3.815)
}
.react-calendar-heatmap .color-scala-9 {
  fill: oklch(0.455 0.188 13.697)
}
.react-calendar-heatmap .color-scala-max {
  fill: oklch(0.41 0.159 10.272)
}

